@{
    ViewData["Title"] = "All Product Page";
}

<div class="text-center">

    <ol>
        <li> <a href="/Product/ShowAllHospitals">Hospitals</a>
        <li>
            <a>
        <li>Servicing Centers</li></a>
        <a>
            <li>Hotels</li>
        </a>
    </ol>
</div>

<form action="/Home/WelcomeAdmin">
    <input type="submit" value="Back" class="btn btn-primary brn-block">
</form>