@{
    ViewData["Title"] = "Login Page";
}

<h1>Login Page</h1>

<div class="col-6 text-center mx-auto">
    
    <form action="/Home/validate">

        <div class="form-group">

        <label for="usename">Username :</label><br>
        <input type="text" for="username" id="username" name="username" class="form-control" /><br>

        <label for="password">Password :</label><br>
        <input type="text" for="password" id="password" name="password" class="form-control" /><br>

        <input type="submit" value="Submit">

        </div>  

    </form>

</div>
